<!--Banner-->
<section class="sub-banner">
  <!--Background-->
  <div class="bg-parallax bg-1"></div>
  <!--End Background-->

  <!-- Logo -->
</section>
<!--End Banner-->
<!-- Main -->
<div class="main">
  <div class="container-fluid">
    <div class="main-cn bg-white clearfix">
      <!-- Breakcrumb -->
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
          <li><a [routerLink]=" ['/']" title="Home"><i class="fa fa-home breadcrumb-home"></i></a></li>
          <li>Contact List</li>
        </ul>
      </section>
      <!-- End Breakcrumb -->
      <!-- class="container"-->
      <section style="margin-top:10px;" class="contact-us">
        <div class="container-fluid">
          <div class="col-md-12">
            <nav>
            <a [routerLink]=" ['./add-contact'] "
              routerLinkActive="active">
              Add a contact
            </a>
          </nav>
          </div>
          <div class="col-md-12">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>
                    Frist Name
                  </th>
                  <th>
                    Last Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Phone
                  </th>
                </tr>

              </thead>
              <tbody>
                <tr *ngIf="listdata && listdata.length==0">
                  <td colspan="4">No records found</td>
                </tr>
                <tr *ngFor="let item of listdata">
                  <td>
                    {{item.first_name}}
                  </td>
                  <td>
                    {{item.last_name}}
                  </td>
                  <td>
                    {{item.email}}
                  </td>
                  <td>
                    {{item.phone}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- End Main -->
