<!--Banner-->
<section class="sub-banner">
  <!--Background-->
  <div class="bg-parallax bg-1"></div>
  <!--End Background-->

  <!-- Logo -->
</section>
<!--End Banner-->
<!-- Main -->
<div class="main">
  <div class="container-fluid">
    <div class="main-cn bg-white clearfix">
      <!-- Breakcrumb -->
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
          <li><a [routerLink]=" ['/']" title="Home"><i class="fa fa-home breadcrumb-home"></i></a></li>
          <li>Add a contact</li>
        </ul>
      </section>
      <!-- End Breakcrumb -->
      <!-- class="container"-->
      <section style="margin-top:10px;" class="contact-us">
        <div class="container-fluid">
          <div class="col col-md-6 col-lg-6">
            <div class="container-fluid" style="margin-bottom:10px;">
              <div class="row" [hidden]="submitted">
                <div class="col">
                  <h4>Add contact</h4>
                  <div>
                    <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                      <div class="alert alert-dismissible" [ngClass]="{'alert-success':responseMessage.validMessage,'alert-danger':!responseMessage.validMessage}" role="alert" *ngIf ="showAlert">
                        <button (click)="showAlert = false;" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div [innerHTML]="responseMessage.message"></div>
                      </div>
                      <div class="form-group" >
                        <span  class="input-group-addon" >
                          <input type="text" id="fName" class="form-control" placeholder="Name *"
                          required="required" formControlName="fName" />
                        </span>
                        <i *ngIf=" (!formErrors.fName && !(!contactForm.controls.fName.valid && !contactForm.controls.fName.dirty))" class="input-group-addon input-group-addon-icon fa fa-check text-success" aria-hidden="true">&nbsp;<small class="text-nowrap small character-left">{{50 - contactForm.controls.fName.value?.length}}&nbsp;left</small></i>
                        <i *ngIf="formErrors.fName" class="input-group-addon input-group-addon-icon fa fa-times text-danger" aria-hidden="true"></i>
                        <div *ngIf=" !formErrors.fName && contactForm.controls.fName.touched && (!contactForm.controls.fName.value || contactForm.controls.fName.value?.trim() === '')" class="form-control-feedback" style="color: #ff0000;">
                        {{validationMessages.fName.required}}
                        </div>
                        <div *ngIf="formErrors.fName" class="form-control-feedback"  style="color: #ff0000;">
                          {{ formErrors.fName }}
                        </div>
                      </div><!--form-group-->
                      <div class="form-group" >
                        <span  class="input-group-addon" >
                          <input type="text" id="lName" class="form-control" placeholder="Last Name *"
                          required="required" formControlName="lName" />
                        </span>
                        <i *ngIf=" (!formErrors.lName && !(!contactForm.controls.lName.valid && !contactForm.controls.lName.dirty))" class="input-group-addon input-group-addon-icon fa fa-check text-success" aria-hidden="true">&nbsp;<small class="text-nowrap small character-left">{{50 - contactForm.controls.lName.value?.length}}&nbsp;left</small></i>
                        <i *ngIf="formErrors.lName" class="input-group-addon input-group-addon-icon fa fa-times text-danger" aria-hidden="true"></i>
                        <div *ngIf=" !formErrors.lName && contactForm.controls.lName.touched && (!contactForm.controls.lName.value || contactForm.controls.lName.value?.trim() === '')" class="form-control-feedback" style="color: #ff0000;">
                        {{validationMessages.lName.required}}
                        </div>
                        <div *ngIf="formErrors.lName" class="form-control-feedback"  style="color: #ff0000;">
                          {{ formErrors.lName }}
                        </div>
                      </div><!--form-group-->
                      <div class="form-group" >
                        <span  class="input-group-addon" >
                          <input type="email" id="contactEmail" class="form-control" placeholder="Email *"
                          required="required" formControlName="contactEmail" />
                        </span>
                        <i *ngIf="(!formErrors.contactEmail && !(!contactForm.controls.contactEmail.valid && !contactForm.controls.contactEmail.dirty))" class="input-group-addon input-group-addon-icon fa fa-check text-success" aria-hidden="true"></i>
                        <i *ngIf="formErrors.contactEmail" class="input-group-addon input-group-addon-icon fa fa-times text-danger" aria-hidden="true"></i>
                        <div *ngIf=" !formErrors.contactEmail && contactForm.controls.contactEmail.touched && (!contactForm.controls.contactEmail.value || contactForm.controls.contactEmail.value?.trim() === '')" class="form-control-feedback"  style="color: #ff0000;">
                        {{validationMessages.contactEmail.required}}
                        </div>
                        <div *ngIf="formErrors.contactEmail" class="form-control-feedback" style="color: #ff0000;">
                          {{ formErrors.contactEmail }}
                        </div>
                      </div><!--form-group-->
                      <div class="form-group" >
                        <span  class="input-group-addon" >
                          <input type="tel" id="contactTelephone" class="form-control" placeholder="Phone Number +99 (999) 999-9999 *"
                           formControlName="contactTelephone" />
                        </span>
                        <i *ngIf=" (!formErrors.contactTelephone && !(!contactForm.controls.contactTelephone.valid && !contactForm.controls.contactTelephone.dirty))" class="input-group-addon input-group-addon-icon fa fa-check text-success" aria-hidden="true"></i>
                        <i *ngIf="formErrors.contactTelephone" class="input-group-addon input-group-addon-icon fa fa-times text-danger" aria-hidden="true"></i>
                        <div *ngIf="!formErrors.contactTelephone && contactForm.controls.contactTelephone.touched && (!contactForm.controls.contactTelephone.value || contactForm.controls.contactTelephone.value?.trim() === '')" class="form-control-feedback"  style="color: #ff0000;">
                        {{validationMessages.contactTelephone.required}}
                        </div>
                        <div *ngIf="formErrors.contactTelephone" class="form-control-feedback"  style="color: #ff0000;">
                          {{ formErrors.contactTelephone }}
                        </div>
                      </div><!--form-group-->
                      <div class="form-group form-check">
                        <button type="submit" class="btn btn-primary pull-right "  [disabled]="!contactForm.valid">Submit</button>
                        <a [routerLink]="['/']"  class="btn btn-primary pull-right "  >Back</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
<!-- End Main -->
